<div class="header--nav">
    <div class="header--nav-item">
        Moar.ws
    </div>
    <div class="header--nav-item header--user-menu">
        <ul>
            <li><a href="~/Register">Register</a></li>
            <li><a href="~/Login">Login</a></li>
            <li><a href="~/Logout">Logout</a></li>
        </ul>
    </div>
</div>