@{
    PublicUser userDetails = (PublicUser)ViewData["User"];
}
<div class="header--nav">
    <div class="header--nav-item">
        <a href="~/">Moar.ws</a>
    </div>
    <div class="header--nav-item header--user-menu">
        <ul>
            @if(userDetails.isLoggedIn == false) {
                <li><a href="~/Register">Register</a></li>
                <li><a href="~/Login">Login</a></li>
            } else {
                <li><a href="~/Logout">Logout</a></li>
            }
        </ul>
    </div>
</div>